﻿@{ ViewBag.Title = "Home Page"; }
<title>@ViewBag.Message</title>
<article id="inputSection">
    <section class="submission">
        <label for="userName">Name</label>
        <input type="text" id="userName" />
    </section>
    <section class="submission">
        <label for="reqDate">Request Date</label>
        <input type="date" id="reqDate"/>
    </section>
    <section>
        <button id="makeRequest" type="button">
        Try Me!</button>
        </section>
        <section id="outputSection">
    </section>
</article>
<script src="/Scripts/htmltestapp.js" type="text/javascript">
</script>
